*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section{
	height: 100vh;
	border: 1px solid red;

}
.home{
	background-color: blue;
}
.about-us-left, .about-us-right{
	height: 80vh;
	border: 1px solid red;
	width: 50%;
}
.about-us-left{
	background-color: green;
}
.about-us-right{
	background-color: purple;
}
.about-us{
	display: flex;
	align-items: center;
}
.testi{
	height: 40vh;
	width: 25%;
	border: 1px solid red;
	background-color: salmon;
}
.testimonial{
	display: flex;
	align-items: center;
}
/*media queries for ipad*/
@media only screen and (min-width: 376px) and (max-width: 770px){
	.about-us{
		flex-direction: column;
	}
	.about-us-left, .about-us-right{
		width: 75%;
	}
	.testimonial{
		flex-wrap: wrap;
	}
	.testi{
		width: 50%;

	}
}
@media only screen and (max-width: 375px){
	.about-us{
		flex-direction: column;
	}
	.about-us-right, .about-us-left{
		width: 90%;
	}
	.testimonial{
		flex-direction: column;
	}
	.testi{
		width: 100%;
	}
}